<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/audio" routerLinkActive="active" ariaCurrentWhenActive="page">Audio Component</a></li>
    <li><a routerLink="/cameras" routerLinkActive="active" ariaCurrentWhenActive="page">Camera Component</a></li>
    <li><a routerLink="/lights" routerLinkActive="active" ariaCurrentWhenActive="page">Light Component</a></li>
    <li><a routerLink="/servers" routerLinkActive="active" ariaCurrentWhenActive="page">Server Component</a></li>
    <li><a routerLink="/weather" routerLinkActive="active" ariaCurrentWhenActive="page">Weather Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
