<h1>Audio works!</h1>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button (click)="powerOn()">Fred ON</button>
    <button mat-raised-button (click)="powerOff()">Fred OFF</button>
    <button mat-raised-button (click)="next()">Next</button>
    <button mat-raised-button (click)="pause()">Pause</button>
    <button mat-raised-button (click)="powerState()">Power?</button>
    <button mat-raised-button (click)="previous()">Previous</button>
    <button mat-raised-button (click)="volume('50')">Volume</button>
    <button mat-raised-button (click)="volumeState()">Volume?</button>
    <button mat-raised-button (click)="louder()">Louder</button>
    <button mat-raised-button (click)="softer()">Softer</button>

    <button mat-raised-button (click)="getArtist()">Artist?</button>
    <button mat-raised-button (click)="getAlbum()">Album?</button>
    <button mat-raised-button (click)="getDuration()">Duration?</button>
    <button mat-raised-button (click)="getTitle()">Title?</button>
    <button mat-raised-button (click)="getPath()">Path?</button>
    <button mat-raised-button (click)="getCurrentTitle()">CurrentTitle?</button>
    <button mat-raised-button (click)="getRemote()">Remote?</button>

    <button mat-raised-button (click)="playListTracks()">Tracks?</button>
    <button mat-raised-button (click)="getplaylistArtist()">Artist?</button>
    <button mat-raised-button (click)="getTime()">Time?</button>


  </div>
</section>
<mat-divider></mat-divider>
